<a href="https://colab.research.google.com/github/TrabalhoAPC2021-02/Trabalho_Final/blob/main/teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # importando a biblioteca pandas para leitura de dados
import plotly.express as px # importando plotly para criação de gráficos
import io

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sala.xlsx to sala (2).xlsx

In [ ]:
# definindo um dataframe a partir do arquivo excel

df = pd.read_excel(io.BytesIO(uploaded['sala.xlsx'])) 
df

                            Cargo  Especialidade    CLT  Terceiro
0                AD Adm. de Dados                  7415    9743.0
1                      Adm. Cloud                  5129    5901.0
2                    Adm. de rede                  4859    6223.0
3   Adm. De Sistemas / Aplicações                  6084    7281.0
4                     Agile Coach                 11715   13221.0
..                            ...            ...    ...       ...
79                    Programador  Visual Studio   5149    6636.0
80       Recrutador(a) RH para TI                  3623    5016.0
81            Técnico de Hardware                  2053    2399.0
82             Tecnico de Suporte                  2144    2944.0
83                   Web Designer                  3211    4037.0

[84 rows x 4 columns]

In [ ]:
# vendo valores repetidos

df['Cargo'].value_counts()

In [ ]:
df['Especialidade'].value_counts()

                 47
Mainframe         6
Unix              3
C#                3
Java              3
PHP               3
Python            2
Oracle PL/SQL     2
Delphi            2
ABAP              2
Java Script       1
 Cobol            1
Visual Basic      1
Client/Sever      1
Linux             1
C++               1
ASP               1
Windows           1
Redes             1
ERP               1
Visual Studio     1
Name: Especialidade, dtype: int64

In [ ]:
# criando um data frame para os cargos mais repetidos

programador = df[df['Cargo'] == 'Programador']
anpro = df[df['Cargo'] == 'Analista Programador']
ansup = df[df['Cargo'] == 'Analista de Suporte']
ansis = df[df['Cargo'] == 'Analista de sistemas']

In [ ]:
programador

In [ ]:
anpro

In [ ]:
ansup

In [ ]:
ansis

In [ ]:
# usando if para selecionar qual coluna será feita a média

tipo_sal = input('Digite qual média de salário quer visualizar(CLT/Terceiro):')

# usando a estrutura de repetição while para caso digitar um valor inválido, repetir até digitar o certo

while tipo_sal != 'Terceiro' and tipo_sal != 'CLT':
    print('Digite um valor válido')
    tipo_sal = input('Digite qual média de salário quer visualizar(CLT/Terceiro):')
  
if tipo_sal == 'Terceiro':
# transformando a coluna 'Terceiro' para uma variável de tipo lista em cada data frame
    t_programador = programador['Terceiro'].tolist()
    t_anpro = anpro['Terceiro'].tolist()
    t_ansup =ansup['Terceiro'].tolist()
    t_ansis = ansis['Terceiro'].tolist()

# usando o for para criar uma média para cada cargo
    soma_t_pro = 0
    for i in range (len(t_programador)):
        soma_t_pro = soma_t_pro + t_programador[i]
    media_pro = soma_t_pro/len(t_programador)
    print(soma_t_pro, media_pro)

    soma_t_anpro = 0
    for i in range (len(t_anpro)):
        soma_t_anpro = soma_t_anpro + t_anpro[i]
    media_anpro = soma_t_anpro/len(t_anpro)
    print(soma_t_anpro, media_anpro)

    soma_t_ansup = 0
    for i in range (len(t_ansup)):
        soma_t_ansup = soma_t_ansup + t_ansup[i]
    media_ansup = soma_t_ansup/len(t_ansup)
    print(soma_t_ansup, media_ansup)

    soma_t_ansis = 0
    for i in range (len(t_ansis)):
        soma_t_ansis = soma_t_ansis + t_ansis[i]
    media_ansis = soma_t_ansis/len(t_ansis)
    print(soma_t_ansis, media_ansis)

# criando um novo dataframe

    column = ['Cargo', 'Terceiro']
    line = ['', '','','']
    dados = [['Analista de Suporte', media_ansup], ['Programador', media_pro], ['Analista programador', media_anpro]
    , ['Analista de sistemas', media_ansis]]
    tb = pd.DataFrame(data=dados, index=line, columns=column) 
    print(tb)

# para o CLT

elif tipo_sal == 'CLT':

    clt_programador = programador['CLT'].tolist()
    clt_anpro = anpro['CLT'].tolist()
    clt_ansup =ansup['CLT'].tolist()
    clt_ansis = ansis['CLT'].tolist()

    soma_clt_pro = 0
    for i in range (len(clt_programador)):
        soma_clt_pro = soma_clt_pro + clt_programador[i]
    media_clt_pro = soma_clt_pro/len(clt_programador)
    print(soma_clt_pro, media_clt_pro)

    soma_clt_anpro = 0
    for i in range (len(clt_anpro)):
        soma_clt_anpro = soma_clt_anpro + clt_anpro[i]
    media_clt_anpro = soma_clt_anpro/len(clt_anpro)
    print(soma_clt_anpro, media_clt_anpro)

    soma_clt_ansup = 0
    for i in range (len(clt_ansup)):
        soma_clt_ansup = soma_clt_ansup + clt_ansup[i]
    media_clt_ansup = soma_clt_ansup/len(clt_ansup)
    print(soma_clt_ansup, media_clt_ansup)

    soma_clt_ansis = 0
    for i in range (len(clt_ansis)):
        soma_clt_ansis = soma_clt_ansis + clt_ansis[i]
    media_clt_ansis = soma_clt_ansis/len(clt_ansis)
    print(soma_clt_ansis, media_clt_ansis)

    column = ['Cargo', 'Terceiro']
    line = ['', '','','']
    dados = [['Analista de Suporte', media_clt_ansup], ['Programador', media_clt_pro], 
    ['Analista programador', media_clt_anpro]
    ,['Analista de sistemas', media_clt_ansis]]
    tb = pd.DataFrame(data=dados, index=line, columns=column) 
    print(tb)

In [ ]:
# usando um input para definir o tipo  de gráfico

tipo_g = input('Qual tipo de gráfico você quer ver?(Tunel/Barra):')

In [ ]:
# criando um gráfico de barra 
if tipo_g == 'Barra':  
    barra = px.bar(tb, x = 'Cargo', y = 'Terceiro', color='Terceiro',template='plotly_dark', width=600)
    display(barra)
# criando um gráfico de túnel
elif tipo_g == 'Tunel':
    pizza = px.funnel(tb, x='Terceiro', y='Cargo', color_discrete_sequence=px.colors.sequential.Viridis, title='Pizza/Terceiro')
    pizza.show()