<a href="https://colab.research.google.com/github/TrabalhoAPC2021-02/Trabalho_Final/blob/main/arquivos/02_salarios_CLT_Terceirizado_teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # importando a biblioteca pandas para leitura de dados
import plotly.express as px # importando plotly para criação de gráficos

In [2]:
# definindo um dataframe a partir do arquivo 
df = pd.read_excel('https://raw.githubusercontent.com/TrabalhoAPC2021-02/Trabalho_Final/main/arquivos/02.1_salarios_CLT_Terceirizado.xlsx') 
df

                            Cargo  Especialidade    CLT  Terceiro
0                AD Adm. de Dados                  7415    9743.0
1                      Adm. Cloud                  5129    5901.0
2                    Adm. de rede                  4859    6223.0
3   Adm. De Sistemas / Aplicações                  6084    7281.0
4                     Agile Coach                 11715   13221.0
..                            ...            ...    ...       ...
79                    Programador  Visual Studio   5149    6636.0
80       Recrutador(a) RH para TI                  3623    5016.0
81            Técnico de Hardware                  2053    2399.0
82             Tecnico de Suporte                  2144    2944.0
83                   Web Designer                  3211    4037.0

[84 rows x 4 columns]

In [3]:
# vendo valores repetidos

df['Cargo'].value_counts()

Analista Programador             10
Programador                      10
Analista de Suporte               6
Analista de sistemas              5
Consultor especialista            2
Operador / Scheduller             2
Analista de produção              2
AD Adm. de Dados                  1
Estagiário                        1
Consultor ERP                     1
Coordenador de projetos           1
Coordenador de Suporte            1
Coordenador de testes             1
DBA Adm. Base de Dados            1
Engenheiro de Sistemas            1
Engenheiro de Telecom             1
Gerente de Contas                 1
Assistente de Informática         1
Gerente de operação               1
Gerente de Projetos               1
Gerente de Sistemas               1
Gerente de Suporte                1
Instrutor                         1
Lider de Projetos                 1
Lider Técnico                     1
Recrutador(a) RH para TI          1
Técnico de Hardware               1
Tecnico de Suporte                1
Auditor de Sistemas               1
Analista Segurança Sistemas       1
Arquiteto de Sistemas             1
Adm. Cloud                        1
Adm. de rede                      1
Adm. De Sistemas / Aplicações     1
Agile Coach                       1
Agile Master                      1
Analista de Aplicações            1
Analista de BI / Big Data         1
Analista de Governança            1
Analista de Implantação           1
Analista de Infraestrutura        1
Analista de Integração            1
Analista de monitoramento         1
Analista de Negócios              1
Analista de processos             1
Analista de Projetos              1
Analista de Qualidade             1
Analista de Requisitos            1
Analista de segurança             1
Analista de Telecomunicações      1
Analista de testes                1
Analista Funcional                1
Analista Microinformática         1
Web Designer                      1
Name: Cargo, dtype: int64

In [4]:
df['Especialidade'].value_counts()

                 47
Mainframe         6
Unix              3
C#                3
Java              3
PHP               3
Python            2
Oracle PL/SQL     2
Delphi            2
ABAP              2
Java Script       1
 Cobol            1
Visual Basic      1
Client/Sever      1
Linux             1
C++               1
ASP               1
Windows           1
Redes             1
ERP               1
Visual Studio     1
Name: Especialidade, dtype: int64

In [5]:
# criando um data frame para os cargos mais repetidos

programador = df[df['Cargo'] == 'Programador']
anpro = df[df['Cargo'] == 'Analista Programador']
ansup = df[df['Cargo'] == 'Analista de Suporte']
ansis = df[df['Cargo'] == 'Analista de sistemas']

In [6]:
programador

          Cargo  Especialidade   CLT  Terceiro
70  Programador             C#  4859    6636.0
71  Programador           Java  5681    7626.0
72  Programador            PHP  3751    4989.0
73  Programador         Delphi  3200    4096.0
74  Programador   Visual Basic  2489    3102.0
75  Programador           ABAP  6111    8012.0
76  Programador          Cobol  3758    4998.0
77  Programador    Java Script  2868    3528.0
78  Programador         Python  3998    4758.0
79  Programador  Visual Studio  5149    6636.0

In [7]:
anpro

                   Cargo  Especialidade   CLT  Terceiro
36  Analista Programador             C#  6569    9111.0
37  Analista Programador           Java  6996    8858.0
38  Analista Programador            ASP  4223    5633.0
39  Analista Programador      Mainframe  5177    6988.0
40  Analista Programador            PHP  4403    5267.0
41  Analista Programador            C++  5714    7320.0
42  Analista Programador           ABAP  7597    9853.0
43  Analista Programador         Python  4711    5927.0
44  Analista Programador         Delphi  4501    5844.0
45  Analista Programador  Oracle PL/SQL  6638    8655.0

In [8]:
ansup

                  Cargo Especialidade   CLT  Terceiro
26  Analista de Suporte     Mainframe  5301    6149.0
27  Analista de Suporte          Unix  4872    5798.0
28  Analista de Suporte           ERP  3675    4190.0
29  Analista de Suporte         Redes  3427    4304.0
30  Analista de Suporte       Windows  2939    3644.0
31  Analista de Suporte         Linux  2918    3203.0

In [9]:
ansis

                   Cargo  Especialidade   CLT  Terceiro
21  Analista de sistemas      Mainframe  6201    7689.0
22  Analista de sistemas             C#  6502    8413.0
23  Analista de sistemas           Java  8085   12401.0
24  Analista de sistemas            PHP  4664    6035.0
25  Analista de sistemas  Oracle PL/SQL  6822    8629.0

In [10]:
# usando if para selecionar qual coluna será feita a média

tipo_sal = input('Digite qual média de salário quer visualizar(CLT/Terceiro):')

# usando a estrutura de repetição while para caso digitar um valor inválido, repetir até digitar o certo

while tipo_sal != 'Terceiro' and tipo_sal != 'CLT':
    print('Digite um valor válido')
    tipo_sal = input('Digite qual média de salário quer visualizar(CLT/Terceiro):')
  
if tipo_sal == 'Terceiro':
# transformando a coluna 'Terceiro' para uma variável de tipo lista em cada data frame
    t_programador = programador['Terceiro'].tolist()
    t_anpro = anpro['Terceiro'].tolist()
    t_ansup =ansup['Terceiro'].tolist()
    t_ansis = ansis['Terceiro'].tolist()

# usando o for para criar uma média para cada cargo
    soma_t_pro = 0
    for i in range (len(t_programador)):
        soma_t_pro = soma_t_pro + t_programador[i]
    media_pro = soma_t_pro/len(t_programador)
    print(soma_t_pro, media_pro)

    soma_t_anpro = 0
    for i in range (len(t_anpro)):
        soma_t_anpro = soma_t_anpro + t_anpro[i]
    media_anpro = soma_t_anpro/len(t_anpro)
    print(soma_t_anpro, media_anpro)

    soma_t_ansup = 0
    for i in range (len(t_ansup)):
        soma_t_ansup = soma_t_ansup + t_ansup[i]
    media_ansup = soma_t_ansup/len(t_ansup)
    print(soma_t_ansup, media_ansup)

    soma_t_ansis = 0
    for i in range (len(t_ansis)):
        soma_t_ansis = soma_t_ansis + t_ansis[i]
    media_ansis = soma_t_ansis/len(t_ansis)
    print(soma_t_ansis, media_ansis)

# criando um novo dataframe

    column = ['Cargo', 'Terceiro']
    line = ['', '','','']
    dados = [['Analista de Suporte', media_ansup], ['Programador', media_pro], ['Analista programador', media_anpro]
    , ['Analista de sistemas', media_ansis]]
    tb = pd.DataFrame(data=dados, index=line, columns=column) 
    print(tb)

# para o CLT

elif tipo_sal == 'CLT':

    clt_programador = programador['CLT'].tolist()
    clt_anpro = anpro['CLT'].tolist()
    clt_ansup =ansup['CLT'].tolist()
    clt_ansis = ansis['CLT'].tolist()

    soma_clt_pro = 0
    for i in range (len(clt_programador)):
        soma_clt_pro = soma_clt_pro + clt_programador[i]
    media_clt_pro = soma_clt_pro/len(clt_programador)
    print(soma_clt_pro, media_clt_pro)

    soma_clt_anpro = 0
    for i in range (len(clt_anpro)):
        soma_clt_anpro = soma_clt_anpro + clt_anpro[i]
    media_clt_anpro = soma_clt_anpro/len(clt_anpro)
    print(soma_clt_anpro, media_clt_anpro)

    soma_clt_ansup = 0
    for i in range (len(clt_ansup)):
        soma_clt_ansup = soma_clt_ansup + clt_ansup[i]
    media_clt_ansup = soma_clt_ansup/len(clt_ansup)
    print(soma_clt_ansup, media_clt_ansup)

    soma_clt_ansis = 0
    for i in range (len(clt_ansis)):
        soma_clt_ansis = soma_clt_ansis + clt_ansis[i]
    media_clt_ansis = soma_clt_ansis/len(clt_ansis)
    print(soma_clt_ansis, media_clt_ansis)

    column = ['Cargo', 'Terceiro']
    line = ['', '','','']
    dados = [['Analista de Suporte', media_clt_ansup], ['Programador', media_clt_pro], 
    ['Analista programador', media_clt_anpro]
    ,['Analista de sistemas', media_clt_ansis]]
    tb = pd.DataFrame(data=dados, index=line, columns=column) 
    print(tb)

Digite qual média de salário quer visualizar(CLT/Terceiro):CLT
41864 4186.4
56529 5652.9
23132 3855.3333333333335
32274 6454.8
                 Cargo     Terceiro
   Analista de Suporte  3855.333333
           Programador  4186.400000
  Analista programador  5652.900000
  Analista de sistemas  6454.800000

In [11]:
# usando um input para definir o tipo  de gráfico

tipo_g = input('Qual tipo de gráfico você quer ver?(Tunel/Barra):')

Qual tipo de gráfico você quer ver?(Tunel/Barra):Tunel

In [12]:
# criando um gráfico de barra 
if tipo_g == 'Barra':  
    barra = px.bar(tb, x = 'Cargo', y = 'Terceiro', color='Terceiro',template='plotly_dark', width=600)
    display(barra)
# criando um gráfico de túnel
elif tipo_g == 'Tunel':
    pizza = px.funnel(tb, x='Terceiro', y='Cargo', color_discrete_sequence=px.colors.sequential.Viridis, title='Pizza/Terceiro')
    pizza.show()